body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.container {
  width: 90%;
  max-height: 100px;
  margin: 200px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  font-family: inherit;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #4676D7;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
}

button:hover {
  background: #1d49aa;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}
